@tailwind base;
@tailwind components;
@tailwind utilities;

/* App layout */
.app-container {
  display: flex; /* Use flexbox to align sidebar and main content side by side */
  min-height: 100vh;
}

Sidebar {
  width: 250px; /* Set width for sidebar */
  background-color: #f4f4f4; /* Add background color for sidebar */
  padding: 20px;
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  padding: 20px;
  background-color: #fff; /* Background color for content area */
}

/* Optional: Style sidebar items to match the layout */
.SidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.SidebarItem:hover {
  background-color: #ddd;
}

.SidebarItem.active {
  background-color: #007bff;
  color: white;
}

@layer utilities {
  .skeleton {
    position: relative;
    overflow: hidden;
    background-color: #cecece;
  }

  .skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    animation: shimmer 1s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
